.input {
   border: none;
   background-color: #f5f8f9;
   border-radius: 5px;
   width: 100%;
   outline: none;
   padding-left: .5em;
   padding-right: .5em;
}

.label-input {
    color: #1ab0aa;
}

.msg-error {
    font-size: .5em;
    color: red;
}

.btn-generico {
    border-radius: 5px;
    border: none;
    color: #ffffff;
    background-color: #1ab0aa;
}